body {
  font-family: 'Montserrat';
}

.dark {
  background-color: #1a202c;
  color: white;
}

.h5dark {
  color: #2b6cb0;
}

.a-darkmode {
  color: #a0aec0;
}

p {
  font-size: 1em;
}

h1 {
  color: #2b6cb0;
  font-weight: bold;
}

h2 {
  color: #2b6cb0;
  font-weight: bold;
}

h5 {
  color: #1a202c;
  font-weight: bold;
  margin-bottom: 1rem;
}

h6 {
  font-size: 14px;
  color: #1a202c;
  font-weight: bold;
  margin-bottom: 30px;
}

.navbarr {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.navbarr a {
  font-family: 'Montserrat';
  font-weight: 600;
  color: #647792;
  font-size: 24px;
  padding: 40px;
  text-decoration: none;
}

.navitems {
  margin: auto 8% auto 8%
}

/* introduction */
#introduction {
  text-align: center;
  margin: 80px auto 80px auto;
}

.intro-1 {
  line-height: 3;
}

.intro-2 {
  font-size: 2rem;
  color: #647792;
  font-weight: lighter;
}

.intro-img {
  width: 50%;
  height: 10%;
  margin: 40px auto;
}

.row {
  width: 60%;
  margin: auto;
  text-align: left;
  color: #647792;
  padding-bottom: 30px;
}

.row a {
  text-decoration: none;
  font-weight: bold;
  /* color: #647792; */
}

/* wallet section */
#wallet-section {
  padding-bottom: 70px;
}

#wallet-section img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.wallets-intro {
  color: #647792;
  width: 60%;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
}

.wallet-icons {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.icon img {
  padding-bottom: 20px;
}

#features-section {
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
  padding-bottom: 100px;
}

.features-header {
  max-width: 536px;
  line-height: 1;
  margin: auto;
  margin-bottom: 100px;
}

.features-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.features {
  line-height: 1.5;
  max-width: 20rem;
}

.features img {
  padding-bottom: 3rem;
}

/* footer */
footer {
  background-color: #f8fafc;
  padding-bottom: 100px;
}

.footer-links {
  display: block;
  text-decoration: none;
  color: inherit;
  line-height: 2.5;
  font-size: 14px;
}

.f-footer {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  margin-bottom: 50px;
}

li {
  list-style: none;
}

.s-footer {
  display: flex;
  justify-content: space-around;
}

.footer-logoandicons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 350px;
}

ul {
  display: flex;
  margin: 0;
}

.footer-darkmodeandcopyright {
  display: flex;
  margin-left: 50px
}

.darkmode {
  margin-right: 30px;
}

.fa-brands {
  margin-left: 10px;
  border-radius: 15px;
}

.fa-github-square:hover, .fa-twitter-square:hover, .fa-discord:hover {
  color: #3182ce;
}

.fa-moon:hover {
  opacity: 20%;
}

.walletconnectlogo img {
  vertical-align: initial;
}

.copyright {
  font-size: 14px;
}

/* media Queries */
@media (max-width:1000px) {
  body {
    margin: 0;
    font-size: 1.5em;
  }

  h1 {
    font-size: 48px;
  }

  .navbarr {
    justify-content: space-around;
    align-items: center;
    background-color: #f8fafc;
  }

  .navbarr a:hover {
    background-color: #ffff;
  }

  #introduction {
    margin-top: 200px;
  }

  .intro-img {
    width: 70%;
  }

  .wallet-icons {
    grid-template-columns: repeat(3, 1fr);
  }

  .row, .wallets-intro {
    margin-left: 100px;
    margin-right: 100px;
    width: fit-content;
    text-align: justify;
  }

  .wallets-intro h1 {
    text-align: center;
  }

  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .features {
    text-align: left;
  }

  .last-features {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .f-footer {
    flex-direction: column;
    padding-left: 100px;
  }

  .footer-div {
    margin-bottom: 50px;
  }

  .f-footer a, .f-footer h6 {
    font-size: 2rem;
  }

  .s-footer {
    padding-left: 100px;
    flex-direction: column-reverse;
  }

  .footer-logoandicons {
    flex-direction: column;
    align-items: flex-start;
  }

  .walletconnectlogo img {
    width: 400px;
    padding-bottom: 30px;
  }

  .footer-darkmodeandcopyright {
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .footer-darkmodeandcopyright p {
    font-size: 2rem;
  }

  ul {
    padding-left: 0;
  }

  .footericons li {
    font-size: 50px;
  }

  .footer-links {
    line-height: 2;
  }

  .navitems {
    margin: 0;
  }
}
